<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="assitant.mapper.OrderMapper">

    <select id="findByUserIdAndStatus" resultType="assitant.entity.po.Order">
        select * from my_mall.`order`
        <where>
            and user_id = #{userId}
            <if test="status != null">
                and order_status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>